In [1]:
# Assignment 3

Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the
range of 1 to 25.

In [2]:
def generate_odd_numbers():
  a = 1
  for i in range(13):
    yield a
    a += 2

odd_numbers = generate_odd_numbers()
print(list(odd_numbers))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs
to demonstrate their use.

In [3]:
def print_args(*args):
  for arg in args:
    print(arg)

print_args(1, 2, 3)

1
2
3

In [4]:
def print_kwargs(**kwargs):
  for key,value in kwargs.items():
    print(f"key: {key}, value: {value}")

print_kwargs(name="sonu", age=23)

key: name, value: sonu
key: age, value: 23

Q3. What is an iterator in python? Name the method used to initialise the iterator object and the method
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14,
16, 18, 20].

In [5]:
# iterator is used to iterate in python
list1 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
iterator = iter(list1)
for i in range(5):
  print(next(iterator))

2
4
6
8
10

Q4. What is a generator function in python? Why yield keyword is used? Give an example of a generator
function.

In [2]:
def generate_even_numbers():
  a = 0
  for i in range(10):
    yield a
    a += 2

even_numbers = generate_even_numbers()
print(list(even_numbers))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the
first 20 prime numbers.

In [8]:
def generate_prime_numbers():
  for num in range(2, 1000):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
      if num % i == 0:
        is_prime = False
        break
    if is_prime:
      yield num

prime_number = list(generate_prime_numbers())
prime_numbers = generate_prime_numbers()
print(prime_number)
for i in range(20):
  print(next(prime_numbers))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [11]:
def fibonacci():
  a, b = 0, 1
  i = 1
  while i <= 10:
    yield a
    a, b = b, a+b
    i += 1
fibo_num = list(fibonacci())
print(fibo_num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.
Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [12]:
list1 = [i for i in 'pwskills']
print(list1)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q8. Write a python program to check whether a given number is Palindrome or not using a while loop.

In [13]:
def pallindrom(n):
  return str(n) == str(n)[::-1]
print(pallindrom(1234321))

True

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.

In [14]:
def print_odd():
  return [i for i in range(1, 101) if i % 2 != 0]
print(print_odd())

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]