In [20]:
# Assignment 2

Q1. How do you comment code in Python? What are the different types of comments?

In [22]:
var = 10 # this is a single line comment

In [23]:
# all type of comment in python
var = 10
"""
this is a multi line comment
"""

'\nthis is a multi line comment\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [24]:
var = 10
var1 = 10.2
var2 = "data"
var3 = [1,2,3]
var4 = (1,2,3)
var5 = {1,2,3}
var6 = True
var7 = False

Q3. How do you convert one data type to another in Python?

In [25]:
var = 10
type(var)

int

In [26]:
var1 = float(var)
type(var1)

float

Q4. How do you write and execute a Python script from the command line?

In [28]:
# prompt: Q4. How do you write and execute a Python script from the command line?

# Create a Python script named `hello.py` with the following contents:

print("Hello, world!")

# Save the script to your computer.

# Open a terminal window and navigate to the directory where you saved the script.

# Run the script using the following command:

!python hello.py

# This will print the following output to the terminal window:

#Hello, world!

Hello, world!
python3: can't open file '/content/hello.py': [Errno 2] No such file or directory

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [29]:
list1 = [1,2,3,4,5]
list1[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [31]:
num = 5 + 3j
type(num)

complex

In [33]:
print(num.real)
print(num.imag)

5.0
3.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [34]:
age = 25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [35]:
price = 9.99
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [36]:
name = "sonu"
print(name)
print(type(name))

sonu
<class 'str'>

Q10. Given the string "Hello, World!", extract the substring "World".

In [38]:
word = "Hello, World!"
word[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [40]:
is_student = True
print(type(is_student))
print(is_student)

<class 'bool'>
True