Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
str1 = "data sceince"
type(str1)

str

In [2]:
list1 = [1,2,3]
type(list1)

list

In [4]:
float_val = 2.5
type(float_val)

float

In [5]:
tuple_val = (1,2,3)
type(tuple_val)

tuple

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [6]:
var1 = ''
type(var1)

str

In [7]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [8]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [9]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	%

(iii)	//

(iv)	**

In [11]:
float_division = 5/3
print(float_division)
# it is used to find the float division

1.6666666666666667

In [13]:
modulo = 5 % 3
print(modulo)
# it is used to find the modulo

2

In [14]:
floor_division = 5 // 3
print(floor_division)
# it is used to find the floor division

1

In [15]:
power = 3 ** 2
print(power)
# it is used to find the power

9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [16]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for i in my_list:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [20]:
a = 10
b = 2
while a % b == 0:
  a = a/b
  print(a)

5.0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [21]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list1:
    if i % 3 == 0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [22]:
list1 = [1,2,3]
list1[0] = 10
print(list1)

[10, 2, 3]

In [23]:
str1 = "data"
data[0] = "p"
# hence stirng is not

NameError: name 'data' is not defined

In [ ]:
# hence stirng is not mutable we can not change the value